.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App, .App>div {
    height: 100%;
}

.tm_rows {
    margin-top: 1%;
}

.tm_time_text {
    font-size: 30vh;
}

.tm_background_color_delta {
    background-color: #db92a3;
}

.tm_background_color_red {
    background-color: #FF0018;
}
.tm_background_color_orange {
    background-color: #FFA52C;
}
.tm_background_color_yellow {
    background-color: #FFFF41;
}
.tm_background_color_green {
    background-color: #008018;
}
.tm_background_color_blue {
    background-color: #0000F9;
}
.tm_background_color_purple {
    background-color: #86007D;
}
